.swiper-button-next , 
.swiper-button-prev {
    color: white;
    padding : 10px;
}

.swiper-button-prev::after {
    margin-right : 20px
}
.swiper-button-next::after {
    margin-left : 20px
}

/* .swiper {
    padding-right : 100px;
    padding-left : 100px
} */

